# Laravel
/backend/vendor
/backend/node_modules
/backend/.env
/backend/storage/*.key

# Frontend (React)
/frontend/node_modules
/frontend/dist
/frontend/build

# env files frontend
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# logs frontend
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

# IDE / editor frontend
/frontend/.vscode/
/frontend/.idea/

# General
.env
node_modules
.DS_Store
Thumbs.db
*.log
*.tmp
coverage/